.Name {
	height: 50px;
	float: left;
	width: calc(20% - 1px * 2);
	border: 1px solid black;
	text-align: center;
}
.Empty {
	height: 50px;
	float: left;
	width: 60%;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}
.Data {
	height: 50px;
	float: left;
	width: calc(20% - 1px * 2);
	border: 1px solid black;
	text-align: center;
}
.Clear {
	clear: both;
}
.Text {
	height: 50px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}
#Button {
	float: right;
}